@use '.' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-position: top center;
  background-size: cover;
  min-height: calc(100dvh - 50px);
  font-family: 'Work Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: hsla(186, 33%, 94%, 1);
  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
}
